@import "tailwindcss";

@import "utility.css";
@import "typography.css";
@import "spacing.css";
@import "colors.css";

/* Register sources */
@source "../../../snippets"
@source "../../../blocks";
@source "../../../sections";
@source "../../../templates";
@source "../../../layout";

* {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@layer base {
  html {
    overscroll-behavior: none;

    /*&:has(.smooth-scroll){
      scroll-behavior: smooth;
    }*/

    *:focus-visible {
      outline: 1px solid var(--color-maptique-blue);
    }

    @media (hover: none) and (pointer: coarse) {
      *:focus-visible {
        outline: none;
        box-shadow: none;
      }
    }

    /* @media (min-width: 768px) {
      scrollbar-gutter: stable;
      -webkit-scroll-gutter: stable;
    } */

    body {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-variant-ligatures: none;
    }

    img,
    svg,
    video {
      pointer-events: none;
      user-select: none;
    }

    a,
    button {
      cursor: pointer;
    }

    dialog {
      max-width: none;
      max-height: none;
    }

    ::selection {
      background: var(--color-black);
      color: var(--color-white);
    }
  }
}
