
@font-face {
  font-family: "Name";
  src: url("../fonts/name.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-*: initial;
  --text-*: initial;

  --font-name: "Name", serif;

  --text-name-80: 80px;
  --text-name-80--line-height: 100%;
}
